<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="articles-ul">
      <% data.forEach(post=> { %>
        <li>
          <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
          </a>
        </li>
  
        <% }) %>
    </ul>
    <div class="Pagination">
    <% if (prevPage !== null) { %>
        <a href="/viewblog/?page=<%= prevPage %>" class="Back_pagination">&lt;Prev Page</a>
    <% } %>
    <% if (nextPage !== null) { %>
        <a href="/viewblog/?page=<%= nextPage %>" class="pagination">Next Page&gt;</a>
    <% } %>
  </div>
    
  </section>
